/*Font*/

@font-face {
    font-family: "Inter";
    src: url(Inter.ttf);
}

body{
    font-family: Inter;
    margin: 0 auto;
}

/*Header*/

header {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #f4f4f4;
    margin: 0 20px;
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
 }

 .right img {
    width: 100px;
 }
 
 .right{
    display: flex;
    gap: 10px;
    align-items: center;
 }
 
 .right nav {
    display: flex;
    gap: 2px;
 }
  
 .right .bear:hover{
    background-color: #f4f4f4;
    border-radius: 5px;
 }
 
 a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-size: 13.5px;
 }
 
 .bear{
    padding: 5px;
 } 
 
 .right .bear img {
    width: 10px;
 }
  
 #left {
    margin-left: auto;
 }
 
 #left nav {
    padding: 5px;
    display: flex;
 }
 
 #left nav a{
    border-right: 2px solid #f4f4f4;
 }

  #no-border{
  border-right: none;
 }

#first:hover{
    background-color: #f4f4f4;
    border-radius: 5px;
 }

#no-border:hover{
    background-color: #f4f4f4;
    border-radius: 5px;
 }

 
.special {
    background-color: #050505;
    color: white;
    border-radius: 5px;
 }

.special:hover{
    background-color: #353535;
 }
 

 /* Start of content body*/


 #wrapper{
    max-width: 1000px;
    padding-top: 100px;
    margin: 0 auto;
 }

 /* top of wrapper */

 .hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px 0;
    gap: 50px;
    border-bottom: 1px solid #f4f4f4;
 }

.half-picture{
    width: 500px;
 }

 /* Logotypes */

 #companies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 1px solid #f4f4f4;
 }

 #companies img {

    width: 100px;
    object-fit: contain;
 }

 /*Section*/

 .section {
   padding: 50px 0;
   border-bottom: 1px solid #f4f4f4;
   margin: 20px 0;
 }

 .top-text{
   width: 50%;
 }

 .picture{
   width: 1000px;
   margin-top: 50px;
 }

.quote{
   padding: 0 20px;
   color: #999999;
   text-align: center;
 }

.small{
   width: 50px;
}
 .quote-by{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
 }

 .small-text p{
   margin:0;
 }

 /* Next section */

.small-section{
   text-align:center;
   padding: 0 200px 50px 200px;
}

#features {
   background-color: lightgray;
   width: 600px;
   padding: 10px 20px;
   margin: 0 auto;
}

.tiny-check {
   width: 15px;
}

.text{
   display: flex;
   justify-content: space-between;
   border-bottom: #999999 1px solid;
}

#border-remove {
   border-bottom: none;
}

/* Emoji section*/

.small-section p{
   color: rgb(177, 172, 172);
}


.learn {
   display: flex;
   text-align: center;
}

.emojis {
   padding: 20px;
   border-right: 1px solid lightgray;
}

#under{
   text-decoration: underline;
}
